h1{
    color: #f9f2f2;
    font-family: "Quicksand", sans-serif;
    display: flex;
    justify-content: center;
   background-color: blue;
    
}.container{
    display: flex;
    justify-content: center;
}
.registro{
    margin: 100px;
    padding: 35px; 
    color: aliceblue;
}
.opciones{
    display: flex;
    justify-content: center;
    margin: 35px;
}
.Correo{
    height: 300px;
    font-size: medium;
    display: flex;
    justify-content:center;
    margin: 35px;
}
input{
width: 360px;
font-size: medium;
font-family: "Quicksand","sans-srif";
height: 50px;
background: transparent;
background-color: rgb(238, 111, 229);
}
button{
    background-color: rgb(68, 53, 241);
    width: px;
    color: azure;
    font-size: x-large;
   
}
body {
    padding: 0;
    margin: 0;
    font-family: montserrat;
    background-color: #df96c7;
    height: 100vh;
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(254, 253, 253);
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgb(238, 111, 229);
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color:  rgb(68, 53, 241);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(34, 27, 104);
}

#message {
    margin-top: 10px;
    color: red;
}
.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50x, -50%);
    width: 400px;
    background: rgb(195, 73, 226);
    border-radius: 10px;
}

